<launch>
    <arg name="carId" default="00000001" />

    <node pkg="agent" type="agent" respawn="false" name="agent" output="screen">
        <param name="carId" type="string" value="$(arg carId)"/>
        <param name="isSendMsgToServer" type="bool" value="true"/>
        <param name="ipaddress" type="string" value="47.92.174.97"/>
        <param name="port" type="string" value="8092"/>
    </node>
</launch>