<launch>
    <include file="$(find bringup)/launch/urdf.launch"/>

    <node name="cartographer_assets_writer" pkg="cartographer_ros" required="true"
        type="cartographer_assets_writer" args="
            -configuration_directory $(find bringup)/param/cartographer
            -configuration_basename assets_writer_ros_map.lua
            -bag_filenames $(arg bag_filename)
            -pose_graph_filename $(arg bag_filename).pbstream"
        output="screen">
    </node>
</launch>