<launch>
    <include file="$(find bringup)/launch/urdf.launch"/>
    <arg name="output_tf" default="true" />
    <arg name="is_publish_odom" default="true" />

    <node pkg="motor_control" type="motor_control" name="motor_control" output="screen">
        <param name="model_param" type="double" value="0.5"/>
        <param name="wheel" type="double" value="0.68"/>
        <param name="output_tf" type="bool" value="$(arg output_tf)" />
        <param name="is_publish_odom" type="bool" value="$(arg is_publish_odom)" />
        <param name="ratio" type="int" value="35"/>
    </node>

</launch>