<launch>
    <arg name="name" default="key_control_PC"/>
    <arg name="devicename" default="platform-i8042-serio-0-event-kbd"/>
    <arg name="numberKey" default="false"/>

    <group if="$(arg numberKey)">
        <node name="$(arg name)" pkg="roboway_tool" type="keyboard_control">
            <param name="devicename" type="str" value="$(arg devicename)"/>
        </node>
    </group>

    <group unless="$(arg numberKey)">
        <node name="$(arg name)" pkg="roboway_tool" type="keyboard_control_nonumber">
            <param name="devicename" type="str" value="$(arg devicename)"/>
        </node>
    </group>
</launch>