<launch>
    <arg name="rviz" default="false"/>
    <arg name="file" default="robot.xacro"/>
    <!--param name="robot_description" textfile="$(find bringup)/param/robot.urdf" /-->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find bringup)/param/$(arg file)'" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="$(arg rviz)"/>
    </node>
    <group if="$(arg rviz)">
        <node name="rviz" pkg="rviz" type="rviz" required="true" output="screen" args="-d $(find bringup)/param/urdf.rviz" />
    </group>
</launch>