<?xml version="1.0"?>
<robot name="roboway" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <material name="white">
      <color rgba="1 1 1 1"/>
  </material>
  <material name="blue">
      <color rgba="0 0 1 1"/>
  </material>
  <material name="black">
      <color rgba="0 0 0 1"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.85 0.60 0.7" />
      </geometry>
      <origin xyz="-0.205 0 0.35"/>
      <material name="white"/>
    </visual>
  </link>

  <link name="velodyne">
    <visual>
      <geometry>
        <cylinder length="0.05" radius="0.05" />
      </geometry>
      <material name="blue"/>
    </visual>
  </link>
  <joint name="velodyne_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="velodyne" />
    <origin xyz="0.125 0 0.725" />
  </joint>

  <link name="laser">
    <visual>
      <geometry>
        <cylinder length="0.05" radius="0.05" />
      </geometry>
      <material name="blue"/>
    </visual>
  </link>
  <joint name="laser_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="laser" />
    <origin xyz="0.16 0 0.12" rpy="0 3.1415 0" />
  </joint>

  <link name="ultrasoundLaser">
    <visual>
      <geometry>
        <cylinder length="0.05" radius="0.05" />
      </geometry>
      <material name="blue"/>
    </visual>
  </link>
  <joint name="ultrasoundLaser_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="ultrasoundLaser" />
    <origin xyz="-0.04 0 0.725" />
  </joint>

</robot>