<?xml version="1.0"?>
<robot name="roboway" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <material name="white">
      <color rgba="1 1 1 1"/>
  </material>
  <material name="blue">
      <color rgba="0 0 1 1"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.8 0.55 0.7" />
      </geometry>
      <origin xyz="-0.25 0 0.35"/>
      <material name="white"/>
    </visual>
  </link>

  <link name="velodyne">
    <visual>
      <geometry>
        <cylinder length="0.05" radius="0.05" />
      </geometry>
      <material name="blue"/>
    </visual>
  </link>
  <joint name="velodyne_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="velodyne" />
    <origin xyz="0 0 0.725" />
  </joint>

</robot>